@using MinesweeperWebApp.GameEngine
@model MinesweeperGame

@* Created by: William Bierer & Stuart Reeder *@

@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //Create AjaxOptions object for creating an Ajax form
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "gameBoard",
        OnSuccess = "ajaxSuccess"
    };
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Minesweeper</title>
    <style>
        .cell {
            background-color: lightgrey;
            width: 50px;
            height: 50px;
        }
    </style>
</head>
<body>
    @using (Ajax.BeginForm("Restart", "Game", ajaxOptions, new { id = "restartForm" }))
    {
        <div align="center">
            @if (Model.win || Model.lose)
            {
                <button class="btn btn-default">Restart Game</button>
            }
        </div>
    }

    @using (Ajax.BeginForm("CellClick", "Game", ajaxOptions, new { id = "boardForm" }))
    {
        <div align="center">@Model.message</div>

        <div id="gameBoard" align="center">
            @for (int x = 0; x < Model.Length; x++)
            {
                for (int y = 0; y < Model.Length; y++)
                {
                    //generate a button for each Cell in TheGrid
                    <button type="submit" class="cell" name="cell" value="@Model.TheGrid[x, y].Row, @Model.TheGrid[x, y].Col">
                        @* Display image in button depending on if it has a bomb or the number of live neighbors *@
                        @if (Model.TheGrid[x, y].Visited && Model.TheGrid[x, y].IsLive)
                        {
                            <img src="~/Content/Images/Bomb.png" class="img-responsive" />
                        }
                        @if (Model.TheGrid[x, y].Visited && !Model.TheGrid[x, y].IsLive)
                        {
                            <img src="~/Content/Images/@Model.TheGrid[x, y].LiveNeighbors).png" class="img-responsive" />
                        }
                    </button>

                    //For button spacing
                    if (y == 9)
                    {
                        <br />
                    }
                }
            }
        </div>
    }
    <div align="center">
        @using (Ajax.BeginForm("SaveGame", "Game", ajaxOptions, new { id = "boardForm" }))
        {
            <button type="submit" class="btn btn-default" name="Save" value="SaveCell">Save Game</button>
        }
        @using (Ajax.BeginForm("LoadGame", "Game", ajaxOptions, new { id = "boardForm" }))
        {
            <button type="submit" class="btn btn-default" name="Load" value="LoadCell">Load Game</button>
        }
    </div>

</body>
</html>