@model MinesweeperWebApp.Models.CellModel[,]

@{
    ViewBag.Title = "Game";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Minesweeper</title>
</head>
<body>
    <div align="center">
        @for (int x = 0; x < 10; x++)
        {
            for (int y = 0; y < 10; y++)
            {
                <button type="submit" name="">
                    <p>(@Model[x, y].Row, @Model[x, y].Col)</p>
                    <p>@Model[x,y].LiveNeighbors</p>
                    <p>@Model[x, y].IsLive</p>
                </button>

                if (y == 9)
                {
                    <br />
                }
            }
        }
    </div>
</body>
</html>